.formLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 1rem;
    background-color: #ffffff;}
h2,a,p{
    color: #576F72;
}

h2{
    margin: 20px;
}

img {
    width: 7rem;
    height: 7rem;
}

.errorText{
    color: red;
}

.divButton{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.inputName input{
    width: 12rem;
    height: 2rem;
}

.inputPassword input{
    width: 12rem;
    height: 2rem;
}

p {
    text-align: left;
}

a {
    display: flex;
    text-align: left;
}

